
.padding_card_container{
    width: 95%;
    margin: 0 auto;
}
p{
    margin-bottom: 16px;
}
.card{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.desc {
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
}
.text-clr {
    font-size: 14px;
    color: #5c5c5c !important;
    margin-bottom: 16px;
    line-height: 1.7;
}
.writer {
    font-size: 16px;
}
.card-body{
    background-color: white;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-title {
    margin-bottom: .75rem;
}
.title_underscore {
    height: 19px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    padding-bottom: 6%;
}
.title_underscore span{
    width: 25%;
border-bottom: 3px solid #f26c60;
}


@media (min-width: 481px) and (max-width: 899px) {
    .desc {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: left;
        color: #222222;
    }
    .text-clr{
        font-size: 12px;     
        font-weight: normal;
        font-style: normal;  
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #5c5c5c;
    }
    p{
        margin-bottom: 5px;
    }
}

@media (min-width: 900px){
    .padding_card_container{
        width: 100%;
        
    }
}